__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
.env
.env*

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.pre-commit-cache/

.idea/
.vscode/

*.log
*.sqlite3

dist/
build/
*.egg-info/
docker-compose.prod.yml
