DEBUG=false

DATABASE_URL=postgresql+asyncpg://todo_files:todo_files@file_db:5432/todo_files
DATABASE_URL_SYNC=postgresql+psycopg://todo_files:todo_files@file_db:5432/todo_files

S3_ENDPOINT_URL=http://localstack:4566
S3_ACCESS_KEY_ID=test
S3_SECRET_ACCESS_KEY=test
S3_REGION=us-east-1
S3_USE_SSL=false

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

JWT_SECRET=1EaCSzU50WJ09RT9GWjdh3522LgDJaYDsFZOybnuPyk
JWT_ALG=HS256

AUTH_SERVICE_BASE_URL=http://auth_app:8000
INTERNAL_API_TOKEN=LuL8usSZs56CYaCICQPUo7-2NbZlCeN1qfuITfz6ooI

CORE_SERVICE_BASE_URL=http://core_service:8000
CORE_INTERNAL_TOKEN=your_core_internal_token_here

FILE_BASE_URL=http://file_app:8000
ENV=prod
